<p>livre-or works!</p>

<button routerLink="/add-message">Ajouter un message</button>
<br><br>

<table class="table table-light">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titre</th>
    <th scope="col">Description</th>
    <th scope="col">Image</th>
    <th scope="col">Date</th>
    <th scope="col" style="color: red">Supprimer un message</th>
    <th scope="col" style="color: darkorange">Editer ce message</th>


  </tr>
  </thead>
  <tbody>
  <tr class="trBody" *ngFor="let message of messages ">
    <th scope="row">{{message.id}}</th>
    <th scope="row"><a [routerLink]="['/message', message.id]">{{message.titre  | uppercase}}</a></th>
    <th scope="row">{{message.description}}</th>
    <th><img style="max-width: 150px; max-height: 150px" src="{{message.image}}" alt="photo Charlène"></th>
    <th scope="row">{{message.dateAjout | date:'fullDate'}}</th>
    <th scope="row" ><p class="removeMessageLink" (click)="removeMessage(message.id)"  style="cursor: pointer; color: red">supprimer le message  {{message.titre}}</p></th>
    <th scope="row"><a [routerLink]="['/message/edit', message.id]"> éditer le message {{message.titre}}</a></th>




  </tr>
  </tbody>
</table>
